@font-face
{
   font-family: "SEASRN__";
   src: url("SEASRN__.ttf");
}

@font-face
{
   font-family: "Sansation-Bold";
   src: url("Sansation-Bold.ttf");
}


body {
margin-top: 1cm;
background-image: url('alpine.jpg');
background-position-x: 0cm;
    
}

h1 {
  text-align: center;
  font-family: 'SEASRN__';
  font-size: 35px;
  padding: 3px;
  margin: 5px;
  border: double;
  border-width: 0.2cm;
  border-color: blue;
  border-radius: 20px;
  color: rgb(11, 14, 14);
}
.alonso {
  width: 15%;
  margin-left: 0.3cm;
  border: solid;
  border-style: dashed;
  border-radius: 10px;
  border-color: red;
} 

h2 {
  text-align: left;
  font-family: 'SEASRN__';
  font-size: 20px;
  margin-left: 2cm;
  border-bottom: yellow 8px groove;
  width: 5.70cm;

}

li {
  text-align: left;
  list-style-image: url("neumatico.png");
  font-family: 'Sansation-Bold';
  font-size: 16px;
}
h3 {
  text-align: left;
  font-family: 'SEASRN__';
  font-size: 20px;
  margin-left: 2cm;
  border-bottom: yellow 8px groove;
  color: darkgoldenrod;
  width: 4cm;

}
p{
  font-family: 'Sansation-Bold';
  font-size: 16px;
}
.iconos {
  width: 20px;
  margin-left: 0.3cm;
  color: aqua;
  margin: 1px;
  
  
}
p {
  font-family: 'Sansation-Bold';
  color: aqua;
  font-size: 18px;
  text-align: justify;
  
}
