@font-face
{
   font-family: "SEASRN__";
   src: url("SEASRN__.ttf");
}

@font-face
{
   font-family: "Sansation-Bold";
   src: url("Sansation-Bold.ttf");
}


body {
margin-top: 1cm;
background-image: url('alpine.jpg');
background-position-x: 0cm;
    
}

h1 {
  text-align: center;
  font-family: 'SEASRN__';
  font-size: 35px;
  padding: 3px;
  margin: 5px;
  border: double;
  border-width: 0.2cm;
  border-color: blue;
  border-radius: 20px;
  color:aliceblue ;
}
.alonso {
  width: 15%;
  margin-left: 0.3cm;
  border: solid;
  border-style: dashed;
  border-radius: 10px;
  border-color: red;
  margin-bottom: 0.2cm;
  float: left;

} 

textocentro {
  float: left;
  width: 30%;
  text-align: justify;
  
}

textoderecha {
  float: left;
  width: 40%;
  text-align: justify;
}
h2 {

  font-family: 'SEASRN__';
  font-size: 20px;
  margin-left: 2cm;
  margin-bottom: 0.7cm;
  color: aliceblue;
  border-bottom: yellow 8px groove;
  width: 5.70cm;

}

ul {
  margin-left: 1.3cm;
  line-height: 0.8cm;
  list-style-image: url("neumatico.png");
  font-family: 'Sansation-Bold';
  font-size: 18px;
  color: aliceblue;

}
h3 {
  text-align: left;
  font-family: 'SEASRN__';
  font-size: 20px;
  margin-left: 2cm;
  margin-bottom: 0.1cm;
  border-bottom: yellow 8px groove;
  color:aliceblue;
  width: 4cm;

}
.redes {
  padding: 3px;
  margin: 5px;
  border: double;
  border-color: darkgoldenrod;
  width: 300px;
  font-family: 'Sansation-Bold';
  font-size: 18px;
  margin-left: 0.2cm;
  margin-bottom: 2cm;
}
.iconos {
  width: 20px;
  margin-left: 0.3cm;
  margin: 1px;
}



h4 {
  text-align: center;
  font-family: 'SEASRN__';
  font-size: 20px;
  border-bottom: yellow 8px groove;
  color: aliceblue;
  margin-bottom: 0.7cm;
  margin-top: 0.4cm;
}

.estudios{

  font-family: 'Sansation-Bold';
  font-size: 18px;
  color: aliceblue;

}

h5 {
  text-align: center;
  font-family: 'SEASRN__';
  font-size: 20px;
  border-bottom: yellow 8px groove;
  color: aliceblue;
  margin-bottom: 0.7cm;
  margin-top: 0.4cm;
}

textoderecha2 {
  float: right;
  width: 50%;
  text-align: justify;
}

textoizquierda {
  float: left;
  width: 50%;
  text-align: justify;
}
.experiencia {
  margin-left: 1.3cm;
  line-height: 0.8cm;
  list-style-image: url("neumatico.png");
  font-family: 'Sansation-Bold';
  font-size: 16px;
  color: aliceblue;
}

.formacion {
  line-height: 0.8cm;
  list-style-image: url("neumatico.png");
  font-family: 'Sansation-Bold';
  font-size: 16px;
  color: aliceblue;

}

h6 {
  text-align: center;
  font-family: 'SEASRN__';
  font-size: 20px;
  border-bottom: yellow 8px groove;
  color: aliceblue;
  margin-bottom: 0.7cm;
  margin-top: 0.4cm;
}