@font-face {
    font-family: "Lemon Friday";
    src: url(LemonFriday.ttf);
    
}

body {
    background-image: url("fondo5.gif") ;
}



#canvas {
    background-color: #0a0909;
    border: solid;
    border-color: red;
    border-width: 10px;
    margin: 5px;
    margin-left: 17.5cm;
    margin-top: 5cm;

}


#repetir {
    margin-top: 5cm;
    margin-left: 24cm;
    font-family: "Lemon Friday";
    font-size: 15px;
    background-color: aqua;

}


#perder {
    margin-top: 1cm;
    margin-left: 18cm;
}

#ganar {
    margin-top: 1cm;
    margin-left: 20.5cm;
}